@font-face {
  font-family: charter;
  src: url('../fonts/charter-regular.otf');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-italic.otf');
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold.otf');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: charter;
  src: url('../fonts/charter-bold-italic.otf');
  font-style: italic;
  font-weight: bold;
}


:root {
  font-size: 16px;
  --gray30: #212121;
  --gray20: #212429;
  --gray10: #616161;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--gray30);
  font-family: 'Roboto', system-ui, Arial;
  margin: 0;
}

a {
  color: var(--gray30);
}

header {
  /* --gray10: red; */
  font-size: 14px;
  /* left: 30px; */
  width: 188px;
  left: -232px;
  top: 64px;
  color: var(--gray10);
  position: absolute;
  z-index: 1;
}

header a {
  color: var(--gray10);
  text-decoration: none;
}

header a:hover {
  color: var(--gray30);
}

header li {
  margin-bottom: 16px;
}

nav details summary {
  font-weight: bold;
  line-height: 24px;
}

.header {
  position: sticky;
  top: 0;
}

.header-content {
  position: relative;
}

.wrapper {
  width: 902px;
  margin: auto;
}

.main-content {
  background: white;
}

h1 {
  font-size: 60px;
  margin-top: 64px;
  margin-bottom: 16px;
  font-weight: normal;
  /*margin-left: 20px;
  margin-right: 10px;
  margin: 64px 10px 16px 20px;
  margin: 64px 0;
  margin: 30px 20px 10px; */
}

/* h1 + p {
  margin-bottom: 64px;
} */

hr {
  /* color: var(--gray30) */
  margin: 64px 0;
}

h2 {
  font-size: 2em;
  margin: 64px 0 40px;
  font-weight: normal;
}

h3 {
  font-size: 1.5em;
  margin-top: 16px;
  margin-bottom: 24px;
  font-weight: normal;
  line-height: 28.13px;
}

pre {
  background: #F3C62E;
  padding: 40px;
  font-family: 'Roboto';
  line-height: 24px;
}

blockquote {
  margin: 32px 0;
  padding-left: 16px;
  font-size: 24px;
  border-left: 4px solid var(--gray30);
  /* line-height: 24px; */
}

blockquote span {
  color: var(--gray10);
}

blockquote span::before {
  content: '-';
}

.hero {
  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent),  url('../images/pattern.png');
  /* background-repeat: no-repeat; */
  /* background-position: left 50px bottom 50px; */
  /* background-size: cover; */
  height: 350px;
}



.section-content {
  margin-top: 164px;
}

.section-content:first-of-type {
  margin: 0;
}

.section-content ol li {
  line-height: 24px;
}

.section-content ul li {
  margin-bottom: 16px;
  line-height: 24px;
}

.section-content ~ hr {
  display: none;
}
.section-content img {
  margin-top: 40px;
}

.section-content .image {
  width: 100%;
}

.section-content {
  counter-reset: titleList;
}

.section-content h3 {
  counter-increment: titleList;
  padding-bottom: 8px;
  position: relative;
}

.section-content h3::before {
  content: counter(titleList, decimal)'. ';
}

.section-content h3::after {
  content: '';
  width: 80px;
  height: 4px;
  background: var(--gray30);
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
}